.image {
 text-align: center;
 padding-bottom: 10px;
 padding-top: 10px;
 display: flex;
 justify-content: center;
}
.about-us img {
    min-height: 120px;
    height: 25vw;
    align-self: center;
}

.about-us h3 {
   text-decoration: underline;
   padding-bottom: 3px;
}
img {
padding: 3px;
}

.about-us h2 {
    font-weight: 600;
   
    padding-bottom: 10px;
}