.container.app {
	max-width: 100%;
	background-color:  #ffc107;

}

.header.container {
	background-color: #ffc107;
	max-width: 100%;
}

.links {
	text-transform: uppercase;
	display: inline-block;
}

.header p {
	font-size: 1.5em;
	color: black;
	padding: 1em;
	letter-spacing: 0.1em;
}
