.header {
	background-color: rgb(235, 231, 6);
	height: fit-content;
	justify-content: center;
	text-align: center;
}

.nav-header {
	padding-left: 0px;
	padding-right: 0px;
}
.links {
	align-items: center;
}